html {
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #fff;
  color: #000;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#main-header-canvas-overlay {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
}

header h1 {
  font-weight: 700;
  font-size: 6em;
  opacity: 1.0;
  padding-bottom: 0.1em;
}

header h2 {
  font-weight: 300;
  padding-left: 5em;
  padding-right: 5em;
  font-size: 2em;
  opacity: 0.8;
}

@media (max-width: 800px) {
  header h1 {
    font-size: 4em;
  }
  header h2 {
    font-size: 1.2em;
  }
}





.main-title {
  width: 100%;
  position: absolute;
  bottom: 40vh;
  left: 0;
}

h1 {
  font-weight: 700;
  font-size: 4em;
  padding-bottom: 1em;
  padding-top: 0.2em;
}


h2 {
  font-weight: 700;
  font-size: 3em;
  padding-bottom: 1em;
}

h3 {
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 0.5em; 
}

h4 {
  font-weight: 700;
  font-size: 1.5em;
  padding-bottom: 0.5em; 
}



article {
  max-width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;  
}


article p, article ul, article pre{
  font-size: 1.4em;
  text-align: left;
  color: #777;
  line-height: 1.4em;
  font-weight: 300;
  padding-bottom: 1.2em;
}

a {
  color: #5b9b42;
}

.imagetest {
  float: left;
  margin: 25px 25px 25px -100px;
  background-color: #444;
}

@media (max-width: 1000px) {
  .imagetest {
    margin: 25px 25px 25px 0;
  }
}

.imagetest2 {
  float: right;
  margin: 25px -100px 25px 25px;
  background-color: #444;
}

@media (max-width: 1000px) {
  .imagetest2 {
    margin: 25px 0 25px 25px;
  }
}

@media (max-width: 500px) {
  .imagetest {
    float: none;
  }
}


p.intro {
  color: #000;
  font-weight: 400;
}

.small {
  font-size: 1em;
}